@model DHC.DAL.Models.Car

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="CarName" class="control-label">Car Name</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarName)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ModelCode" class="control-label">Model Code</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelCode.ModelCode)
        </dd class>
        <dt class="col-sm-2">
            <label asp-for="ModelName" class="control-label">Model Name</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName.ModelName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
