@model DHC.DAL.Models.Manager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="ManagerName" class="control-label">Manager Name</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ManagerContact" class="control-label">Manager Contact</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ManagerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
